<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="移动App接口测试" verbose="1">
  <listeners>
    <listener class-name="com.focustech.mic.test.api.listener.CustomTestListener"/>
    <listener class-name="com.focustech.mic.test.api.listener.CustomHooker"/>
  </listeners>
  <test name="core function">
    <parameter name="baseURI" value="http://192.168.42.154:82"/>
    <parameter name="contentType" value="application/json; charset=UTF-8"/>
    <parameter name="charset" value="utf-8"/>
    <parameter name="testcaseDir" value="/testcases"/>
    <groups>
      <run>
        <include name="core"/>
      </run>
    </groups>
    <packages>
      <package name="com.focustech.mic.test.api.testcase.app"/>
    </packages>
  </test>


</suite>
